<form class="example-form" 
    [formGroup]="studentForm" (ngSubmit)="onSubmit()"

>
    Add a new
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Code</mat-label>
      <input matInput placeholder="VN" formControlName="code">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Fukuda" formControlName="firstName"> 
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ozawa" formControlName="lastName">
    </mat-form-field> 
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Male/Female" formControlName="gender">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="123@mail.vn" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="911911"formControlName="phone" >
    </mat-form-field>
    <button
    type="submit"
    class="btn btn-sucess"
    mat-raised-button color="accent"
    [disabled]="!studentForm.valid"
    >
    Submit
    </button>
  </form>