.nav-height {
  min-height: 50px !important;
  height: 50px !important;
}

.content-move-right {
  margin-left: 170px !important;
  transition: ease 0.2s;
}

.content-move-left {
  margin-left: 10px !important;
  transition: ease 0.1s;
}
.active-link {
  background: rgb(20, 209, 121)!important;
  color: white;
}

.a1{
  color:cornsilk;
  padding-right: 10px;
  padding-left: 10px;}
