
   
    <button (click)="addStudent()" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      </button>


<table id="customers">
    <tr>
     
      <th>Code</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Delete</th>
      
      
    </tr>
    <tr *ngFor="let student of students">
    
      <td>{{student?.code}}</td>
      <td>{{student?.firstName}}</td>
      <td>{{student?.lastName}}</td>
      <td>{{student?.gender}}</td>
      <td>{{student?.email}}</td>
      <td>{{student?.phone}}</td>
      <mat-progress-spinner mode="indeterminate" *ngIf="showSnipper">
  
      </mat-progress-spinner>
      <td style="cursor: pointer;"> 
        <mat-icon 
        color="warn"
        (click)="deleteStudents(student.id)"
        >
        delete</mat-icon>
        
      </td>
    
      
    </tr>
   
  </table>
 
  