.page-header{
    margin-left: 10px;
    color: rgb(31, 214, 31);
}
.title{
color: rgb(85, 9, 9);
}
.myAge{
   padding: top 20px; 
    color: rgb(156, 245, 12);
}
.underAge{
    padding-left: 10px;
    color: red
    !important
}
.higherAge{
    color: rgb(168, 13, 240);
    padding-left: 10px;
}

